*{
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
}

html{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

html, body{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
    background: #E5E5E5;
}

header{
    height: 20%;
    display: flex;
}

.logo {
    padding: 0;
    position: relative;
    margin: 10vh 10px;
}

main {
    display: flex;
    padding: 0;
    margin: 0 auto;
    height: 70%;
}

.seccion-izquierda{
    position: relative;
    align-items: center;
}

.seccion-izquierda textarea{
    border: none;
    position: relative;
    margin: 10vh 10px;
    width:  35vw;
    height: 30vh;
    resize: none;

    overflow: hidden;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.seccion-izquierda p{
    width: 35vw;
    height: 3vh;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: start;
    text-align: left;

    overflow: hidden;
}

.seccion-izquierda p:before{
    content: url("ImgPC/signo.png");
}

.botones{
    display: flex;
    width: 35vw;
    height: 10vh;
    margin: 0 auto;
    align-items: center;
}

#btn-encriptar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 8px;
    margin: 0 auto;

    overflow: hidden;

    width: calc(17.5vw - 25px);

    border-radius: 24px;
    background: #0A3871;
}

#btn-encriptar label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 1;
}

#btn-desencriptar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 8px;
    margin: 0 auto;

    overflow: hidden;

    width: calc(17.5vw - 25px);

    border-radius: 24px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
}

#btn-desencriptar label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;

    flex: none;
    order: 0;
    flex-grow: 1;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(1.0);
}

.seccion-derecha {
    position: relative;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.seccion-derecha div {
    box-sizing: border-box;
    background: #FFFFFF;
    margin: 15px 10px;
    height: 65vh;
    width: calc(25vw - 40px);

    display: flow-root;
    align-items: center;

    background: url("ImgPC/Muñeco.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}

.seccion-derecha textarea{
    display: none;
    border: none;
    position: relative;
    margin: 5vh 10px;
    width: calc(25vw - 60px);
    height: 30vh;
    resize: none;

    overflow: hidden;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.seccion-derecha h1 {
    margin: 50vh 10px 0;
    width: calc(25vw - 60px);
    height: 10vh;
    font-weight: bold;
    font-size: calc(1rem + 1vw);

    overflow: hidden;
}

.seccion-derecha p {
    margin: 0 10px;
    width: calc(25vw - 60px);
    height: 5vh;
    font-weight: lighter;

    overflow: hidden;
}

#btn-copiar {
    display: none;
    margin: 20vh 10px 0;
    padding: 24px;
    width: calc(25vw - 60px);

    overflow: hidden;

    border-radius: 24px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
}

#btn-copiar label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;

    flex: none;
    order: 0;
    flex-grow: 1;
}

footer{
    height: 10%;
    position: relative;
    text-align: center;
    padding-top: 4vh;
}

@media screen and (max-width: 900px){
    html, body{
        width: 100%;
        margin: 0 auto;
    }

    main{
        display: block;
        text-align: center;
    }

    .seccion-izquierda textarea{
        border: none;
        position: relative;
        margin: 20px auto;
        width:  90%;
        height: 20rem;
    }

    .seccion-izquierda p{
        width: 90%;
        height: 3rem;
        margin: 0 auto;
    }

    .botones{
        width: 90%;
        height: 5rem;
    }

    #btn-encriptar {
        width: 40%;

    }

    #btn-desencriptar {
        width: 40%;
    }

    .seccion-derecha{
        width: 90%;
        margin: 0 auto;
    }

    .seccion-derecha div {
        margin: 15px auto;
        height: auto;
        width: 90%;
        background: #FFFFFF;
        border-radius: 32px;
    }

    .seccion-derecha textarea{
        margin: 1rem auto;
        width: 90%;
        height: 17rem;
    }

    .seccion-derecha h1 {
        margin: 10px auto;
        width: 100%;
        height: auto;

    }

    .seccion-derecha p {
        margin: auto auto;
        width: 100%;
        height: auto;
    }

    #btn-copiar {
        margin:  1rem auto;
        padding: 24px;
        width: 40%;

    }

    footer{
        padding: 5rem;
    }

}